@import '../../styles/variables'

.Navigator
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.divisor
  width: 1px
  height: 30px
  background-color: $white
.element
  font-family: $primary-font
  font-size: 100px
  font-weight: 200
  padding: 10px 30px
  color: $darkgrey
  cursor: pointer
  line-height: 1
  margin: .3em 0
.contact
  color: $white !important
  font-weight: 300 !important
.box
  transform: translateY(-20px)
  height: 20px
  width: 0
  background-color: $primary-color
  position: relative
  z-index: 0