@import '../../styles/variables'

.About
  width: 100%
  background-color: $background-color
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.title
  @include heading-2
  margin: 0
.decoration
  height: 10px
  color: $primary-color